@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: aliceblue;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    color: red;
    transition: 1s;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  
    display: block;
    background-image: url('https://s1.funon.cc/img/orig/201606/09/57598ca973ed1.png');
    width: 100%;
    height: 100%;
  
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}
  
.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    top: 40%;
}